Flask==3.1.1
Flask-Cors==6.0.1
gunicorn==23.0.0

langchain==0.3.27
langchain-core==0.3.72
langchain-community==0.3.27
langchain-qdrant==0.2.0
langchain-huggingface==0.3.1
langchain-groq==0.3.7

qdrant-client==1.15.1

sentence-transformers==3.0.1
transformers==4.44.2
torch

python-dotenv==1.1.1
pypdf==5.9.0
requests==2.32.4